label {
	width: 80pt;
	float: left;
}

input  {
	width: 80%;
}

button {
	margin-right: 10px;
}

ul.result {
	border: solid 4px green;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: lightcyan;
}

div.vocabulary {
	border: solid 4px salmon;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: lightgoldenrodyellow;
}
